

#results {
/*    padding: 1em;
    border: 1px solid #000000;*/
}

#button, #button2 {
    margin-top: 0px;
}

#img {
    border-radius: 50%;
    margin-left:40%;
    max-width:300px;
}


#control-panel {
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left:0;
}

header {
    font-family: 'Special Elite', cursive;
    text-align: center
}

html {
    background-color:  #fffff4;
}

#additional_info {
    text-align: center;
}

#info_books {
    margin-top: 20px;
    font-weight: bold;
}